{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Categoriya Qo'shish{% endblock title %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-lg border-0" style="width: 30rem; border-radius: 15px; overflow: hidden;">
        <div class="card-header text-white text-center" style="background: linear-gradient(90deg, #4caf50 0%, #81c784 100%);">
            <h3 class="card-title my-2">Categoriya Qo'shish</h3>
        </div>
        <div class="card-body p-4">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2 mt-3">
                    <button type="submit" class="btn btn-lg btn-block btn-success">Qo'shish</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
